@tailwind base;
@tailwind components;
@tailwind utilities;

$color_1: #b81405;
$color_2: #170200;
$color_3: #2c0401;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Track de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background: $color_3;
}

/* Thumb de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background-color: #fbbf24;

}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: $color_2;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.logo{
  // filter: invert(17%) sepia(52%) saturate(4960%) hue-rotate(354deg) brightness(86%) contrast(107%);
  filter: invert(69%) sepia(75%) saturate(492%) hue-rotate(353deg) brightness(102%) contrast(97%);
  width: 3rem;
  height: 3rem;
  margin: 1.5rem;
}

.likent-button{
  filter: invert(11%) sepia(89%) saturate(5629%) hue-rotate(4deg) brightness(85%) contrast(96%);
}

.button-login{
  background-color: $color_1;
  border-color: $color_1 ;
}

.card-bg{
  background-color: $color_3;
  border-color: $color_3;
  border-radius: 0.5rem
}

.input-bg{
  background-color: $color_2;
}

.preWrap{
  white-space: pre-wrap;
}